{% load static%}
<!DOCTYPE html>
<html>
<head>
<title>AJAYI MIRACLE - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Ajayi Miracle."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
			<img src="https://hmg.tech/img/brand-logo.png" alt="" />
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Ajayi Miracle" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Ajayi Miracle</h1>
			<h2 class="quickFade delayThree">Backend Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:joe@bloggs.com" target="_blank">ajayioloruntoba288@gmail.com</a></li>
				<li>m: 08152653838</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Career Objective</h1>
				</div>
				
				<div class="sectionContent">
					<p>To be part of an institution working with like-minds to build great leaders and relating with a purpose driven team in the academic line to contribute to my personal-development as well as delivering excellence in the areas of achieving organizational goals.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Community Tax Liasion Officer at Niger State Board of Internal Revenue</h2>
					<p class="subDetails">2017 - 2020</p>
					<p>Educate all Citizens on the tax system, Enroll new tax Payers, Increase tax awareness to raise compliance and Tax outreach to increase the number of tax payers.</p>
				</article>
				
				<article>
					<h2>Office Assistant at Salem University</h2>
					<p class="subDetails">2014 - 2015</p>
					<p>Handling incoming and outgoing memos; Managing filling system; Greeting clients and visitors as needed; Updating paperwork, maintaining documents and word processing; Performing general office clerk duties and errands and Maintaining office equipment as needed.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Inter-personal Skill</li>
					<li>Writting Skill</li>
					<li>CRM Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Salem University</h2>
					<p class="subDetails">BSc. Business Admin</p>
					<p>•	Salem University Entrepreneurship Program (2014).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<form
  action="https://formspree.io/f/xgerplee"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>